<!DOCTYPE html>
<html lang="pl">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eventify</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
        body{
            font-family: Lato;
            background-image: linear-gradient(to right, #434343 0%, black 100%);
            color: white;
        }
        footer {
            font-family: Lato;
            background-image: linear-gradient(to right, #434343 0%, black 100%);
            color: white;
        }
        a{
            color: rgb(184, 184, 184);
            text-decoration: none;
            transition: color 0.2s ease;
        }
        a:hover{
            color: white;
            text-decoration: none;
        }
        .col-md-3 img {
    width: 100%; /* Ensures the image fills its container */
    height: 100%; /* Ensures the image maintains its aspect ratio */
    object-fit: cover; /* Ensures the image covers the entire container */
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.col-md-3 img:hover {
    transform: scale(1.02); /* Scale the image slightly on hover */
}
.separator {
    height: 5px; /* Adjust the height as needed */
    background-color: #adadad; /* White color */
    width: 100%; /* Span the entire width of the screen */
    margin-top: 20px; /* Adjust spacing above the separator */
    margin-bottom: 20px; /* Adjust spacing below the separator */
    box-shadow: 0px 2px #838383;
}
.one{
    color:#cfcfcf ;
}
    </style>
</head>
<body>
    <div class="separator"></div>
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="text-light display-4">Eventify</h1>
            <p class="lead text-light opacity-50"style="font-family: 'Courier New', Courier, monospace;">bądź w centrum wydarzeń</p>
        </div>
    </div>
    <br>
    <div class="separator"></div>
    <nav class="navbar navbar-expand-lg navbar-dark text-light ms-auto justify-content-center">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Wydarzenia <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#onas">O nas</a>
            <a class="nav-item nav-link" href="/admin">Panel Admina</a>
          </div>
    </nav>

<!------------------------------------------------------------------------------------------------------------------------>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="container text-center" style="text-shadow: 0px 3px black">
        <h1>
            Wydarzenia na wyciągnięcie ręki.
        </h1>
        <p class="one">
            Odkryj bogactwo różnorodnych wydarzeń, które inspirują, bawią i angażują.Inspirujące spotkania, kulturalne festiwale i wiele więcej czeka na Ciebie.
        </p>
        <h4>
            Znajdź rozrywkę, której szukasz (i wiele więcej)!
        </h4>
      </div>
      <div class="container mt-5" >
        {% for record in records %}
        <div class="container px-4 py-5">
            <h2 class="pb-2 border-bottom">{{ record[1]}} </h2>
            <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
              <div class="feature col">
                <h3 class="fs-1 text-body-emphasis bg-white border">{{ record[3] }}</h3>
                <h4 class="fs-8 text-body-emphasis bg-white"style="font-family: 'Courier New', Courier, monospace;">{{ record[5] }}</h4>
                <p class="border-start border-opacity-5 px-2"> {{ record[2] }}</p>
              </div>
              <div class="feature col">
              </div>
              <div class="feature col" >
                <br>
                <br>
                <!--- date of event -->
                <p style="font-family: 'Courier New', Courier, monospace;">
                    <svg class="w-6 h-6 text-gray-800 dark:text-blue" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/>
                      </svg>
                      {{ record[5] }}, {{ record[6] }}
                </p>
                <!--- place of event -->
                <p style="font-family: 'Courier New', Courier, monospace;">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"/>
                    </svg>
                    {{ record[3] }}
                </p>
                <!--- people count -->
                <p style="font-family: 'Courier New', Courier, monospace;">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                      </svg>
                      {{ record[4] }}
                </p>
                <br>
                <div class="row row-cols-2 pl-3">
                    <a href="https://www.jakdojade.pl" class="icon-link link-offset-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bus-front" viewBox="0 0 16 16">
                        <path d="M5 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0m8 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-6-1a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2zm1-6c-1.876 0-3.426.109-4.552.226A.5.5 0 0 0 3 4.723v3.554a.5.5 0 0 0 .448.497C4.574 8.891 6.124 9 8 9s3.426-.109 4.552-.226A.5.5 0 0 0 13 8.277V4.723a.5.5 0 0 0-.448-.497A44 44 0 0 0 8 4m0-1c-1.837 0-3.353.107-4.448.22a.5.5 0 1 1-.104-.994A44 44 0 0 1 8 2c1.876 0 3.426.109 4.552.226a.5.5 0 1 1-.104.994A43 43 0 0 0 8 3"/>
                        <path d="M15 8a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1V2.64c0-1.188-.845-2.232-2.064-2.372A44 44 0 0 0 8 0C5.9 0 4.208.136 3.064.268 1.845.408 1 1.452 1 2.64V4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v3.5c0 .818.393 1.544 1 2v2a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5V14h6v1.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-2c.607-.456 1-1.182 1-2zM8 1c2.056 0 3.71.134 4.822.261.676.078 1.178.66 1.178 1.379v8.86a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 11.5V2.64c0-.72.502-1.301 1.178-1.379A43 43 0 0 1 8 1"/>
                        </svg>
                        Czym dojadę?
                    </a>
                    <a href="https://www.ebilet.pl/wydarzenia?text={{record[1]}}" class="icon-link" style="color:white;">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.5 12A2.5 2.5 0 0 1 21 9.5V7a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v2.5a2.5 2.5 0 0 1 0 5V17a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1v-2.5a2.5 2.5 0 0 1-2.5-2.5Z"/>
                        </svg>
                        Kup bilet
                    </a>
            </div>
              </div>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
        
<!--------------------------------------------------------------------------------------------------->
<div class="separator"></div>
<br>
<br>
<br>
        <div class="header text-center">
            <h1>
                Zespół Eventify
            </h1>
        </div>
        <br>
        <br>

            <div class="container pb-5 mb-3" id="onas">
                <div class="row row justify-content-center">
                <div class="col-md-3">
                    <img src="{{ url_for('static', filename='templates/dominik.jpg') }}" class="img-fluid rounded" style="padding-bottom: 25px;">
                    <h3 class="text-center">
                        Dominik
                    </h3>
                    <p class="text-center"style="color:#adadad">
                        Działanie projektu (backend)
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="{{ url_for('static', filename='templates/daria.jpg') }}" class="img-fluid rounded"style="padding-bottom: 25px;">
                    <h3 class="text-center">
                        Daria
                    </h3>
                    <p class="text-center" style="color:#adadad">
                        Raport, readme, testy projektu
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="{{ url_for('static', filename='templates/grzegorz.jpg') }}" class="img-fluid rounded"style="padding-bottom: 25px;">
                    <h3 class="text-center">
                        Grzegorz
                    </h3>
                    <p class="text-center"style="color:#adadad">
                        Wygląd projektu (frontend)
                    </p>
                </div>
                </div>
            </div>
<!--------------------------------------------------------------------------------------------------->
<!-- Footer -->
    <br>
    <footer class="text-center text-lg-start bg-body-tertiary text-muted mt-5 flex">
        <div class="text-center p-4" style="background-color: rgba(74, 74, 74, 0.517);">
        <p class="text-white">© 2024 Eventify. Wszystkie prawa zastrzeżone.</p>
        </div>
    </footer>
<!-- Footer -->
</body>
</html>
